<div fxLayout="row">
  <mat-list class="post" fxFlex="70" fxLayout="column">
    <app-post *ngIf="empUtilityService.newPost"></app-post>
    <mat-card class="example-card" *ngFor="let item of empUtilityService.postList">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title fxLayout="row">{{item.receiverFirstName }}{{item?.receiverLastName}}</mat-card-title>
        <mat-card-title fxLayout="row">{{item.senderFirstName}}{{item?.senderLastName}}</mat-card-title>
        <mat-card-subtitle class="lastName">{{item?.postDate}}</mat-card-subtitle>

        <!-- <mat-card-subtitle class="lastName">{{item?.lastName}}</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="assets/images/woodland.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{item.postDescription}}
        </p>

      </mat-card-content>
      <mat-card-actions fxLayout="row">
        <div fxLayout="column" fxFlex="10">
          <button (click)="addLikes()" mat-icon-button>
          <mat-icon>thumb_up</mat-icon><span class="text">{{item?.numberOfLikes}} likes</span>
        </button>
      </div>
      <div fxFlex="10">
         <button (click)="addDislikes()" mat-icon-button>
          <mat-icon>thumb_down</mat-icon>
        </button> {{item?.numberOfDislikes}} dislikes
      </div>
      <div fxLayout="column" fxFlex="80">
        <button mat-icon-button>
          <mat-icon>comment</mat-icon>{{item?.numberOfComment}} commments
        </button>
      </div>
      <div fxLayout="column" fxFlex="10" >
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>
      </mat-card-actions>
      <form [formGroup]="formGroup">
        <mat-form-field class="example-full-width">
          <mat-label class="comment-label">Leave a comment</mat-label>
          <textarea formControlName="commentFormControl" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <button (click)="postComment(item)" fxLayout="column" fxFlex="80" color="primary" mat-icon-button>
          <mat-icon>Post</mat-icon>
        </button>
      </form>
      <div *ngFor="let eachComment of item?.commentList">
        <span>{{eachComment.commentFormControl}}</span>
      </div>
    </mat-card>
  </mat-list>
  <app-analytics></app-analytics>
</div>
