
.example-card {
  max-width: 1000px;
  margin-bottom: 15px;
  margin-left: 15px;
  background-color: black;
  color: white;
}

.example-header-image {
  color: white;
  background-image: url('src/assets/images/GD.jpg');
  background-size: cover;
}
.example-full-width {
  color: white;
  width: 100%;
}

.subtitle{
  color: white;
}
.comment{
  color: white;
}
.lastName{
  color: white;
}
.comment-label{
color: white;
}
// .example-card-right{
//   max-width: 407px;
//   margin-bottom: 16px;
//   background-color: black;
//   color: white;
// }

.text{
margin-left: 10px;
}
.post{
  overflow: scroll;
  height: 100vh;
}
