.example-card {
  max-width: 500px;
  margin-bottom: 16px;
}

.example-header-image {
  background-image: url('src/assets/images/GD.jpg');
  background-size: cover;
}
.example-full-width {
  width: 100%;
}