<mat-toolbar class="toolbar">
  <mat-toolbar-row class="parent-menu-bar">
    <span class="parent-menu-text"> EMPLOYEE MOTIVATION PORTAL </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="mat-toolbar-row">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly center">
      <nav>
        <a routerLink='notification'>
          <span class="material-icons">notification_important</span>
        </a>
      </nav>
      <nav>
        <a>
          <span class="material-icons">people</span>
        </a>
      </nav>
      <nav>
        <a>
          <span class="material-icons">filter_5</span>
        </a>
      </nav>
      <nav>
        <a routerLink="template">
          <span class="material-icons">add</span>
        </a>
      </nav>
    </div>
    <div class="toolbar-external-icons-container"></div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
